[server]

[mysqld]

user		= root

#folder for saving database
datadir		= /var/lib/mysql
tmpdir		= /tmp
pid-file	= /run/mysqld/mysqld.pid
basedir		= /usr
#location socket for communication
socket		= /run/mysqld/mysqld.sock

#All IP addresses in  network can connect
bind_address	= *

#communication port
port		= 3306

#save log_errors
log_error = /var/log/mysql/error.log
				

[embedded]

[mariadb]

[mariadb-10.3]
	
